<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="container">

  <div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="fournisseur.cne"  placeholder="Recipient's username" aria-label="Search by Reference" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-info " type="button"><i class="fas fa-search"></i></button>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 mx-auto">
      <table class="table table-bordered table-hover " *ngIf="fournisseurs.length != 0">
        <thead>
        <th>CNE</th>
        <th>Nom&Prenom</th>
        <th>Siège</th>
        <th>Action</th>
        </thead>
        <tbody>
        <tr *ngFor="let c of fournisseurs; index as i">
          <td>{{c.cne}}</td>
          <td>{{c.nomPrenom}}</td>
          <td>{{c.siege}}</td>
          <td><span class="fa fa-trash btn btn-sm btn-danger" (click)="deleteByCne(c,i)"></span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
